[Desktop Entry]
Type=Application
Name=Spool
Comment=Browse and play your media
Exec=spool
Icon=com.sachk.spool
Categories=AudioVideo;Video;
Keywords=Media;Player;TV;Jellyfin;Emby;Plex;
StartupWMClass=com.sachk.spool
Terminal=false
